@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
/* Global styles
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #000;
  color: #fff;
}

*::selection {
  background-color: #000;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #555559;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fbfafa;
  min-height: 100%;
}

body *::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

body *::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background: #615c60;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  background: none;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

button {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.page {
  width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

/* Header
-----------------------------*/
header {
  position: relative;
  height: 499px;
  background: url(../images/header-bg.jpg) top center/cover no-repeat;
}

header a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  padding-top: 13px;
}

header a div {
  padding-left: 7px;
}

/* Navigation
-----------------------------*/
.nav-wrap {
  background: #ffffff;
  padding: 38px 0;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.11);
}

.nav-wrap nav {
  text-align: center;
}

.nav-wrap nav a {
  font-size: 20px;
  font-weight: 600;
  color: #2e2e2e;
  margin: 0 36px;
}

.nav-wrap nav a:hover {
  color: #286782;
}

/* Main Message
-----------------------------*/
.main-msg {
  text-align: center;
  padding: 115px 0 170px;
}

.main-msg h1 {
  width: 840px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 300;
  line-height: 68px;
  padding: 36px 0 80px;
}

.main-msg a {
  display: inline-block;
  width: 310px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 0;
  border-radius: 6px;
  background-color: #286782;
  letter-spacing: -0.8px;
  text-transform: none;
}

/* Hotdog Types
-----------------------------*/
.hotdog-types {
  background: #ffffff;
}

.hotdog-types .page {
  padding: 0;
}

.hotdog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotdog-item .description {
  width: 50%;
}

.hotdog-item .description.text-desc {
  padding: 20px 9%;
}

.hotdog-item .description a {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  color: #555559;
  text-transform: none;
}

.hotdog-item .description a:before {
  position: absolute;
  content: "";
  width: 31px;
  height: 3px;
  background-color: #286782;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
  pointer-events: none;
}

.hotdog-item .description a:hover {
  color: #286782;
}

.hotdog-item .description p {
  margin-top: 40px;
  letter-spacing: -0.72px;
}

.hotdog-item .description img {
  width: 100%;
}

.hotdog-item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Footer
-----------------------------*/
footer {
  font-size: 14px;
  color: #555559;
  background: #efefef;
  padding: 24px 0;
}

footer .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .page .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .page .contact-info span {
  margin: 0 17px;
}

footer .page .contact-info a {
  color: #555559;
  text-transform: none;
  margin: 0 17px;
}

footer .page .contact-info a:hover {
  color: #286782;
}

footer .page .contact-info .phone-num {
  position: relative;
}

footer .page .contact-info .phone-num.phone-num::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #a2a2a4;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
  pointer-events: none;
}

footer .page .contact-info .phone-num.phone-num::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #a2a2a4;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
  pointer-events: none;
}

/* Media Queries
-----------------------------*/
@media only screen and (max-width: 850px) {
  .main-msg {
    padding: 50px 0 100px;
  }
  .main-msg h1 {
    font-size: 2.2em;
    line-height: 50px;
    padding: 20px 0 45px;
  }
  footer .page {
    display: block;
  }
  footer .page .contact-info span {
    margin: 0 17px 0 0;
  }
}

@media only screen and (max-width: 725px) {
  .nav-wrap {
    padding: 25px 0;
  }
  .nav-wrap nav a {
    font-size: 1em;
    margin: 0 20px;
  }
  .main-msg h1 {
    font-size: 1.9em;
  }
  .main-msg a {
    width: 290px;
    font-size: 1em;
  }
  .hotdog-item,
  .hotdog-item:nth-child(2) {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .hotdog-item .description.text-desc,
  .hotdog-item:nth-child(2) .description.text-desc {
    width: 80%;
  }
  .hotdog-item .description.img-desc,
  .hotdog-item:nth-child(2) .description.img-desc {
    width: 90%;
  }
  .hotdog-item .description a:before,
  .hotdog-item:nth-child(2) .description a:before {
    visibility: hidden;
  }
  .hotdog-item .description p,
  .hotdog-item:nth-child(2) .description p {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 575px) {
  header {
    height: 300px;
  }
  .nav-wrap {
    padding: 15px 0;
  }
  .nav-wrap nav a {
    font-size: .9em;
    margin: 0 15px;
  }
  .main-msg h1 {
    font-size: 1.6em;
    line-height: 40px;
  }
  .main-msg a {
    width: 270px;
    font-size: .9em;
    padding: 15px 0;
  }
  .hotdog-item .description.text-desc {
    padding: 20px 2%;
  }
  footer .page {
    text-align: center;
  }
  footer .page .contact-info {
    display: block;
  }
  footer .page .contact-info .phone-num {
    margin: 0 17px 0 0;
  }
  footer .page .contact-info .phone-num:before {
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */